<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>UAD</title>
		<link rel="stylesheet" href="estilos/main.css">
	</head>

<body>
													<!-- Cabecera -->
	<header>
			<img src="estatic/viñeta.png" id="v_top">
			<img src="estatic/logo_uni.png" id="logo"> 
		             						<!-- menu de navegacion -->
			<nav>
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Licenciatura</a></li>
					<li><a href="#">Maestria</a></li>
					<li><a href="#">Doctorado</a></li>
					<li><a href="#">Sabatino</a></li>
				</ul>
			</nav> 
	</header>
													<!-- destacado -->
		<div id="destacado">
			<h2>Universidad Autonoma de Nayarit</h2>
			<img src="estatic/top.jpg" id="portada">
		</div> 
											<!-- contenido principal-->
	<section id="principal">
		<hgroups><h1>Carrera</h1></hgroups>
		
		<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin, massa in bibendum tempus, nisl tellus molestie mauris, vitae scelerisque nisi massa nec dolor. Nullam a tincidunt urna. Quisque sed fringilla sapien. Sed in iaculis purus. Suspendisse placerat purus tristique felis gravida adipiscing.</article>

		<div id="mark">
			<h3>Destacado dentro del texto</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin.</p>
		</div>

		<article>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin, massa in bibendum tempus, nisl tellus molestie mauris, vitae scelerisque nisi massa nec dolor. Nullam a tincidunt urna. Quisque sed fringilla sapien. Sed in iaculis purus. Suspendisse placerat purus tristique felis gravida adipiscing.</article>
		
		<div id="mark">
			<h3>Documentos adjuntos</h3>

				<a href="documentos/prueba.pdf"><img src="estatic/ico_pdf.png"></a>
		</div>

		<div id="mark">
			<h3>Documentos adjuntos</h3>
				<a href="documentos/pruebaw.doc"><img src="estatic/doc.png"></a>
		</div>

		<div id="autor">
			<h4>"Por Lo Nuestro a Lo Universal"</h4>
			<h3>Nombre de el autor</h3>
			<strong><h4>Puesto del  autor</h4></strong>
		</div>

	</section>
		                                   		<!-- pie de pagina -->

	<!--<footer id="pie_nota">
		<h3>texto del  footer</h3>
	</footer> -->

</body>
</html>